section#aboutHaritonow.about-haritonow
  .about-haritonow-content.container
    .about-haritonow-text
      h3.title Здравствуйте, меня зовут #[b Харитонов Константин Сергеевич]
      span Мой хирургический стаж в эстетической медицине с 2014 года. Как и многим потомственным врачам, мне было суждено связать свою жизнь с медициной:
      +note()
        p #[b Мой дедушка] - Харитонов Аркадий Игнатьевич был челюстно-лицевым хирургом #[b Моя бабушка] - Харитонова Евгения Игнатьевна была стоматологом
      +note()
        p #[b Мой отец] - Харитонов Сергей Аркадьевич, ведущий хирург по ринопластике, врач высшей квалификационной категории, резидент ОСЭМ, эксперт русской и европейской школ ринохирургии
      p #[b 2009-2016] Москва, Первый Московский государственный медицинский университет имени И.М. Сеченова, Лечебный факультет
      p #[b 2016-2019] Москва, Филиал «Военно-медицинская академия имени С.М. Кирова», Ординатура по общей хирургии
      p #[b 2019-2021] Рязанский государственный медицинский университет имени И.П. Павлова, Ординатура по пластической хирургии
      p С 2014 года встал к операционному столу в роли второго ассистента, а затем и первого в клинике эстетической медицины под руководством наставника–отца – ведущего хирурга по ринопластике, что предопределило мой дальнейший путь в профессии.
      p Я участвовал более чем в 1000 операций по пластической хирургии. Получал весь накопленный отцом опыт и учился под его руководством смотреть на несколько шагов вперед, предугадывать и сразу решать возможные проблемы.
      p С 2018 года я непрерывно провожу пластические операции, получая бесценный опыт. В данный момент принимаю и оперирую в клинике REVITALIFE, которая по праву считается лучшим медицинским учреждением.
      p Я регулярно принимаю участие в тематических симпозиумах, конференциях и мастер-классах, совершенствуя свои знания и практические навыки.
    .social-medias-container
      span Подписывайтесь, #[b в соц. сетях:]
      +socialMedias()
    .haritonow
      +haritonowInfo()
        .post-container
          span.post “Я считаю, что #[b самое главное в работе хирурга] - найти контакт с пациентами. Пациенты ценят доктора за чуткое отношение и высокое мастерство, с которым он умеет приблизить черты внешности к идеальным”
      img(src="./img/haritonow/haritonow1.png" alt="haritonow1" loading="lazy")