footer
  img(src="../img/logo.svg", alt="logo" loading="lazy")
  p ООО "РЕВАЙТАЛАЙФ" | ОГРН 1197746735009 Юр. адрес: Москва, Б. Очаковская ул., д. 31
  p Москва © 2022 ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. НЕОБХОДИМА КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА
  .links
    a.underline-decorate(href="/") Политика конфиденциальности
    a(href="https://kwork.ru/user/taraslazarenko").designer-link.underline-decorate #[img(src="../img/designer-logo.svg" alt="designer-logo" loading="lazy")]
  .my-footer(style="position: relative;bottom: -20px;padding: 5px 0;width: 100%;display: flex;flex-wrap: wrap;justify-content: space-around;background-color: #e5e5e5;")
    a(href="http://t.me/george1621" style="text-decoration: none;") Telegram
    span georges1621@mail.ru